@import "../../assets/styles/constants";

.shipping__delivery-questions {
  max-width: 100px;
  margin-left: 10px;
  font-size: 13px;
  line-height: 1;

  @media screen and (max-width: $mobileBreakpoint) {
    font-size: 12px;
  }
}
