@import "../../assets/styles/constants";

.order-info {
  color: #979797;
}

.order-info__stages {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 300;
}

.order-info__stage {
  display: inline-block;

  &::after {
    content: url("./arrow.svg");
    width: 10px;
    height: 20px;
    margin: 0 15px;
    vertical-align: -7px;
  }

  &:last-child::after {
    content: none;
  }

  &.is-active {
    font-weight: 400;
    color: $accentColor;
  }
}

.order-info__title {
  font-size: 26px;
  color: $accentColor;
}

.order-info__label {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: $accentColor;
}

.order-info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-info__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  margin-top: 15px;
  border: 1px solid rgba(67, 28, 93, .8);
  border-radius: 5px;
  background: rgba(90, 16, 148, .8);
  font-size: 16px;
  font-weight: 400;
  color: white;
  cursor: pointer;

  &:hover {
    background: $accentColor;
    transition: all ease-in-out .2s;
  }

  &:focus {
    box-shadow: 0 0 0 2px #dedcdc;
  }
}
