.order-error-message {
  position: absolute;
  z-index: 299;
  min-width: 175px;
  background: white;
  border: 1px solid #dedcdc;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #dedcdc;
  padding: 5px 10px;
  font-size: 13px;
  color: #d0021b;
  transform: translate(-10px, -28px);

  &::after {
    content: "";
    position: absolute;
    z-index: 298;
    left: 22px;
    bottom: -6px;
    width: 10px;
    height: 10px;
    background: white;
    border-right: 1px solid #dedcdc;
    border-bottom: 1px solid #dedcdc;
    transform: rotate(45deg);
  }

  &.is-right {
    transform-origin: right;
    transform: translate(-80px, -28px);

    &::after {
      right: 22px;
      left: auto;
    }
  }
}
