@import "../../assets/styles/constants";

.billing__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billing__same-as-shipping {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  color: $accentColor;

  & span {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
  }

  & span:hover {
    border-color: $accentColor;
    transition: all $standardTransition;
  }
}
