@import "../../assets/styles/constants";

.success__title {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 26px;
  color: $accentColor;
}

.success__order-number {
  margin-bottom: 10px;
  font-weight: 600;
}

.success__email-confirmation {
  margin-bottom: 30px;
}

.success__email-confirmation-link {
  border-bottom: 1px solid #aaa;
  color: $accentColor;
  cursor: pointer;

  &:hover {
    border-color: $accentColor;
    transition: all $standardTransition;
  }
}

.success__delivery-date {
  margin-bottom: 30px;

  & b {
    font-weight: 600;
  }
}

.success__recipe {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  font-size: 13px;
  font-weight: 600;
  color: $accentColor;
  cursor: pointer;

  &:hover {
    border-color: $accentColor;
    transition: all $standardTransition;
  }
}
