@import "../../assets/styles/constants";

body {
  background: #f2f2f2;
  font-size: 1rem;
  font-family: "helvetica neue", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #2b2525;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__content {
  display: flex;
  margin: 95px auto 75px auto;
  width: 100%;
  max-width: 700px;
  min-height: 600px;
  background: white;
  box-shadow: 0 2px 18px rgba(black, .07);
  border-radius: 5px;
}

.app__order-info {
  flex: 4;
}

.app__order-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  background: #f2f3f7;
  border-radius: 0 5px 5px 0;
  padding: 20px 13px 15px 13px;
}

.app__terms-link {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: #979797;

  & a {
    border-bottom: 1px solid #979797;
  }

  & a:hover {
    border-color: #777879;
    color: #777879;
    transition: all $standardTransition;
  }
}



@font-face {
  font-family: "helvetica neue";
  src: url("../../assets/fonts/HelveticaNeueLight.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "helvetica neue";
  src: url("../../assets/fonts/HelveticaNeue.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "helvetica neue";
  src: url("../../assets/fonts/HelveticaNeueBold.ttf") format('truetype');
  font-weight: 700;
}
