body {
  height: auto !important;
  background: white !important;
}

#root {
  height: auto !important;
}

.print-recipe {
  width: 100%;
  max-width: 21cm;
  padding: 1cm 2cm;
  font-weight: 400;
  text-align: left;
  color: black;
}

.print-recipe__title {
  font-size: 25px;
  text-align: center;
}

.print-recipe__subtitle {
  margin-top: .75cm;
  margin-bottom: .2cm;
  font-size: 20px;
}

.print-recipe__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .1cm;
  border-bottom: 1px solid gray;
  padding: .1cm 0;

  &:first-child {
    border-top: 1px solid gray;
  }
}

.print-recipe__item-id {
  width: .5cm;
  margin-right: .5cm;
}

.print-recipe__item-data {
  flex-grow: 1;
}

.print-recipe__item-price {
  width: 1cm;
  margin-left: .5cm;
  text-align: right;
}

.print-recipe__row {
  display: flex;
  margin: .2cm 0;
}

.print-recipe__legend {
  width: 3cm;
  margin-right: .5cm;
}
